<h5 class="grid-h">Project Details</h5>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th class="text-nowrap" scope="row">Project Name</th>
                <td>{{pldata.project_lead_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Department Name</th>
                <td>{{pldata.department_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Architect Name</th>
                <td>{{pldata.architect_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Co-ordinator Name</th>
                <td>{{pldata.user_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Products Specified</th>
                <td>{{pldata.product_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Current Status</th>
                <td>{{pldata.project_current_status}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Date</th>
                <td>{{pldata.project_lead_date}}</td>
            </tr>
        </tbody>
    </table>
</div>

<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <span>Project Lead Updates Table</span>
        <button nbButton status="primary" (click)="open1(dialog)">Add Updates</button>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [source]="pluData" [settings]="settings">
        </ng2-smart-table>
        <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>


<h5 class="grid-h">Add Updates</h5>
<div class="row d-flex">
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="width: 500px !important;">
      <nb-card-header>Add Updates</nb-card-header>
      <nb-card-body>
          <form [formGroup]="formAddEdit">
            <!-- <div class="form-group">
                <input type="hidden" value={{pluData.project_lead_id}} class="form-control" formControlName="project_lead_id">
            </div> -->
           <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Remarks<span style="color: red;">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" nbInput shape="rectangle" formControlName="project_lead_updates_remarks" class="col-md-12" placeholder="Enter Remarks" [ngClass]="{'is-invalid': isSubmitted && f.project_lead_updates_remarks.errors}">
                <div *ngIf="isSubmitted && f.project_lead_updates_remarks.errors" class="text-danger">
                  <div *ngIf="f.project_lead_updates_remarks.errors.required">This field is required</div>
              </div>
              </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Lead Updates Date<span style="color: red;">*</span></label>
            <div class="col-sm-9">
                <input type="date" class="form-control" formControlName="project_lead_updates_date">
            </div>
          </div>
          <!-- <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Order Status</label>
            <div class="col-sm-9">
                <nb-select formControlName="product_category_status" class="col-md-12">
                    <nb-option value='Project Lost'>Project Lost</nb-option>
                    <nb-option value='Quotation Submitted'>Quotation Submitted</nb-option>
                    <nb-option value='Under Discussion'>Under Discussion</nb-option>
                    <!-- <nb-option *ngFor="let pcstatus of pcData" value={{pcstatus.product_category_status}}>{{pcstatus.product_category_status}}</nb-option>
                </nb-select>
            </div>
        </div> -->
      </form>
      </nb-card-body>
      <nb-card-footer>
        <button type="submit" style="margin-right: 20px;" nbButton status="primary" (click)="onSubmit(ref)">Submit</button>
        <button nbButton (click)="ref.close()">Close</button>
    </nb-card-footer>
    </nb-card>
  </ng-template>
</div>