<nb-card>
    <nb-card-header>
        Product Specification Table
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [source]="psData" [settings]="settings" (create)="open1(dialog)" (edit)="open2(dialog,$event)" (delete)="deleteProductSpecification($event)" > -->
        </ng2-smart-table>
        <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>


<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="width: 700px !important;">
        <nb-card-header>Product Specification</nb-card-header>
        <nb-card-body>
            <form [formGroup]="formAddEdit">
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Product Specification Name</label>
                    <div class="col-sm-9">
                        <textarea rows="4" class="form-control" formControlName="product_specification_name" class="col-md-12" nbInput fullWidth shape="round"  placeholder="Enter Product Specification" [ngClass]="{'is-invalid': isSubmitted && f.product_specification_name.errors}"></textarea>
                        <div *ngIf="isSubmitted && f.product_specification_name.errors" class="text-danger">
                            <div *ngIf="f.product_specification_name.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Product Name</label>
                    <div class="col-sm-9">
                        <nb-select formControlName="product_brand_id" (selectedChange)="loadsubproduct($event)" placeholder="Select Product" style="padding: 0;" [ngClass]="{'is-invalid': isSubmitted && f.product_brand_id.errors}" class="col-md-12">
                            <nb-option *ngFor="let productbrand of productbrandData" value={{productbrand.product_brand_id}}>{{productbrand.product_brand_name}}</nb-option>
                        </nb-select>
                        <div *ngIf="isSubmitted && f.product_brand_id.errors" class="text-danger">
                            <div *ngIf="f.product_brand_id.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Subproduct</label>
                    <div class="col-sm-9">
                        <nb-select formControlName="product_id" style="padding: 0;" placeholder="Select Subproduct" [ngClass]="{'is-invalid': isSubmitted && f.product_id.errors}" class="col-md-12" >
                            <nb-option *ngFor="let product of productData" value={{product.product_id}} >{{product.product_name}}</nb-option>
                        </nb-select>
                        <div *ngIf="isSubmitted && f.product_id.errors" class="text-danger">
                            <div *ngIf="f.product_id.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Product Specification Status</label>
                    <div class="col-sm-9">
                        <nb-select formControlName="product_specification_status" placeholder="Select Status" style="padding: 0;" class="col-md-12">
                            <nb-option value='Active'>Active</nb-option>
                            <nb-option value='Deactive'>Deactive</nb-option>
                        </nb-select>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                        <button type="submit" nbButton status="primary" (click)="onSubmit(ref)">Submit</button>
                    </div>
                </div> -->
            </form>
        </nb-card-body>
        <nb-card-footer>
            <button type="submit" style="margin-right: 20px;" nbButton status="primary" (click)="onSubmit(ref)">Submit</button>
            <button nbButton (click)="closeHandle(ref)">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>