<nb-card>
    <nb-card-header>
        Project Quotation Table
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [source]="pqData" [settings]="settings" (create)="open1(dialog)" (edit)="open2(dialog,$event)" (delete)="deleteProjectQuotation($event)" (userRowSelect)="onCustomAction($event)">
        </ng2-smart-table>
        <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>

<div class="row d-flex">
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card style="width: 800px !important;">
            <nb-card-header>Project Quotation</nb-card-header>
            <nb-card-body>
                <form [formGroup]="formAddEdit">
                    <div class="form-group row">
                        <label class="label col-sm-2 col-form-label">Project Name</label>
                        <div class="col-sm-4">
                            <nb-select formControlName="project_lead_id" style="padding: 0;" placeholder="Select Project" [ngClass]="{'is-invalid': isSubmitted && f.project_lead_id.errors}" class="col-md-12">
                                <nb-option *ngFor="let project of plData" value={{project.project_lead_id}} >{{project.project_lead_name}}</nb-option>
                            </nb-select>
                            <div *ngIf="isSubmitted && f.project_lead_id.errors" class="text-danger">
                                <div *ngIf="f.project_lead_id.errors.required">This field is required</div>
                            </div>
                        </div>
                        <label class="label col-sm-2 col-form-label">Client Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" nbInput shape="rectangle" formControlName="client_name" class="col-md-12" placeholder="Enter Client Name" [ngClass]="{'is-invalid': isSubmitted && f.client_name.errors}">
                            <div *ngIf="isSubmitted && f.client_name.errors" class="text-danger">
                                <div *ngIf="f.client_name.errors.required">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-2 col-form-label">Main Contractor</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" nbInput shape="rectangle" formControlName="main_contractor" class="col-md-12" placeholder="Enter Main Contractor" [ngClass]="{'is-invalid': isSubmitted && f.main_contractor.errors}">
                            <div *ngIf="isSubmitted && f.main_contractor.errors" class="text-danger">
                                <div *ngIf="f.main_contractor.errors.required">This field is required</div>
                            </div>
                        </div>
                        <label class="label col-sm-2 col-form-label">Co-ordinator</label>
                        <div class="col-sm-4">
                            <nb-select formControlName="user_id" style="padding: 0;" placeholder="Select Co-ordinator" [ngClass]="{'is-invalid': isSubmitted && f.user_id.errors}" class="col-md-12">
                                <nb-option *ngFor="let user of userData" value={{user.user_id}} >{{user.user_name}}</nb-option>
                            </nb-select>
                            <div *ngIf="isSubmitted && f.user_id.errors" class="text-danger">
                                <div *ngIf="f.user_id.errors.required">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-2 col-form-label">Quotation Number</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" nbInput shape="rectangle" formControlName="quotation_number" class="col-md-12" placeholder="Enter Quotation Number" [ngClass]="{'is-invalid': isSubmitted && f.quotation_number.errors}">
                            <div *ngIf="isSubmitted && f.quotation_number.errors" class="text-danger">
                                <div *ngIf="f.quotation_number.errors.required">This field is required</div>
                            </div>
                        </div>
                        <label class="label col-sm-2 col-form-label">Quotation Amount</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" nbInput shape="rectangle" formControlName="quotation_amount" class="col-md-12" placeholder="Enter Quotation Amount" [ngClass]="{'is-invalid': isSubmitted && f.quotation_amount.errors}">
                            <div *ngIf="isSubmitted && f.quotation_amount.errors" class="text-danger">
                                <div *ngIf="f.quotation_amount.errors.required">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-4">
                            <nb-select class="form-control" style="padding: 0;" placeholder="Select Status" formControlName="status" class="col-md-12">
                                <nb-option value='Active'>Active</nb-option>
                                <nb-option value='Deactive'>Deactive</nb-option>
                            </nb-select>
                        </div>
                        <label class="label col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" formControlName="date">
                            <!-- <div class="calendars">
                                <div class="calendar-container">
                                <nb-calendar [(date)]="date" [boundingMonth]="true" showWeekNumber></nb-calendar>
                                </div>
                            </div>   -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="label col-sm-2 col-form-label">Specified Products</label>
                        <div class="col-sm-4">
                            <nb-select class="selectpicker" style="padding: 0;" formControlName="product_name" multiple data-live-search="true" class="col-md-12" class="form-control" class="col-md-12" placeholder="Select Products">
                                <!-- <nb-option disabled selected hidden>Select Activity</nb-option> -->
                                <nb-option *ngFor="let product of productData" value={{product.product_id}} >{{product.product_name}}</nb-option>
                            </nb-select>
                            <!-- <div *ngIf="isSubmitted && f.product_id.errors" class="text-danger">
                                <div *ngIf="f.product_id.errors.required">This field is required</div>
                            </div> -->
                        </div>
                        <label class="label col-sm-2 col-form-label">Remarks</label>
                        <div class="col-sm-4">
                            <textarea rows="4" class="form-control" formControlName="remarks" [ngClass]="{'is-invalid': isSubmitted && f.remarks.errors}" class="col-md-12" nbInput fullWidth shape="round"  placeholder="Enter Remarks"></textarea>
                            <div *ngIf="isSubmitted && f.remarks.errors" class="text-danger">
                                <div *ngIf="f.remarks.errors.required">This field is required</div>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="label col-sm-2 col-form-label">Order Status</label>
                            <div class="col-sm-10">
                                <nb-select class="form-control" placeholder="Select Order Status" formControlName="order_status" class="col-md-12">
                                    <nb-option value='Under Discussion'>Under Discussion</nb-option>
                                    <nb-option value='Project Lost'>Project Lost</nb-option>
                                </nb-select>
                            </div>
                        </div> -->
                    </div>
                </form>
            </nb-card-body>
            <nb-card-footer>
                <button type="submit" style="margin-right: 20px;" nbButton status="primary" (click)="onSubmit(ref)">Submit</button>
                <button nbButton (click)="closeHandle(ref)">Close</button>
            </nb-card-footer>
        </nb-card>
    </ng-template>
</div>