<h5 class="grid-h">Project Details</h5>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th class="text-nowrap" scope="row">Project Name</th>
                <td>{{pqData.project_lead_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Client Name</th>
                <td>{{pqData.client_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Main Contractor</th>
                <td>{{pqData.main_contractor}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Co-ordinator Name</th>
                <td>{{pqData.user_name}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Quotation Number</th>
                <td>{{pqData.quotation_number}}</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Date</th>
                <td>{{pqData.date}}</td>
            </tr>
        </tbody>
    </table>
</div>

<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <span>Project Lead Updates</span>
        <button nbButton status="primary" (click)="open1(dialog)">Add Updates</button>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [source]="pquData" [settings]="settings">
        </ng2-smart-table>
        <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>


<!-- <h5 class="grid-h">Add Updates</h5> -->
<div class="row d-flex">
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="width: 500px !important;">
      <nb-card-header>Add Updates</nb-card-header>
      <nb-card-body>
          <form [formGroup]="formAddEdit">
            <!-- <div class="form-group">
                <input type="hidden" value={{pluData.project_lead_id}} class="form-control" formControlName="project_lead_id">
            </div> -->
           <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Remarks</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" nbInput shape="rectangle" formControlName="project_quotation_updates_remarks" class="col-md-12" placeholder="Enter Remarks" [ngClass]="{'is-invalid': isSubmitted && f.project_quotation_updates_remarks.errors}">
                <div *ngIf="isSubmitted && f.project_quotation_updates_remarks.errors" class="text-danger">
                  <div *ngIf="f.project_quotation_updates_remarks.errors.required">This field is required</div>
              </div>
              </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Quotation Updates Date</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" formControlName="project_quotation_updates_date">
            </div>
          </div>
      </form>
      </nb-card-body>
      <nb-card-footer>
        <button type="submit" style="margin-right: 20px;" nbButton status="primary" (click)="onSubmit(ref)">Submit</button>
        <button nbButton (click)="ref.close()">Close</button>
    </nb-card-footer>
    </nb-card>
  </ng-template>
</div>

<nb-card>
    <nb-card-header>
      Specified Products for Quotation id: {{project_quotation_id}}
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [source]="prodinfo" [settings]="settings1"> -->
      </ng2-smart-table>
      <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>
