<nb-card>
    <nb-card-header>
        Subproduct Table
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [source]="productData" [settings]="settings" (create)="open1(dialog)" (edit)="open2(dialog,$event)" (delete)="deleteProduct($event)" > -->
        </ng2-smart-table>
        <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>


<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="width: 350px !important;">
        <nb-card-header>Subproduct</nb-card-header>
        <nb-card-body>
            <form [formGroup]="formAddEdit">
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Product</label>
                    <div class="col-sm-9">
                        <nb-select formControlName="product_brand_id" style="padding: 0;" placeholder="Select Product" [ngClass]="{'is-invalid': isSubmitted && f.product_brand_id.errors}" class="col-md-12">
                            <nb-option *ngFor="let prod of pbData" value={{prod.product_brand_id}} >{{prod.product_brand_name}}</nb-option>
                        </nb-select>
                        <div *ngIf="isSubmitted && f.category_id.errors" class="text-danger">
                            <div *ngIf="f.category_id.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Subproduct</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" nbInput shape="rectangle" formControlName="product_name" class="col-md-12" placeholder="Enter Subproduct" [ngClass]="{'is-invalid': isSubmitted && f.product_name.errors}">
                        <div *ngIf="isSubmitted && f.product_name.errors" class="text-danger">
                            <div *ngIf="f.product_name.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Product Category</label>
                    <div class="col-sm-9">
                        <nb-select formControlName="category_id" style="padding: 0;" placeholder="Select Category" [ngClass]="{'is-invalid': isSubmitted && f.category_id.errors}" class="col-md-12">
                            <nb-option *ngFor="let category of categoryData" value={{category.product_category_id}} >{{category.product_category_name}}</nb-option>
                        </nb-select>
                        <div *ngIf="isSubmitted && f.category_id.errors" class="text-danger">
                            <div *ngIf="f.category_id.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Subproduct Status</label>
                    <div class="col-sm-9">
                        <nb-select formControlName="product_status" style="padding: 0;" placeholder="Select Status" class="col-md-12">
                            <nb-option value='Active'>Active</nb-option>
                            <nb-option value='Deactive'>Deactive</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                        <button type="submit" nbButton status="primary" (click)="onSubmit(ref)">Submit</button>
                    </div>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>