<nb-card>
    <nb-card-header>
        Annexure Details Table
    </nb-card-header>

    <nb-card-body>
        <!-- <ng2-smart-table [source]="plData" [settings]="settings" (create)="open1(dialog)" (edit)="open2(dialog,$event)" (delete)="deleteProjectLead($event)" (userRowSelect)="onCustomAction($event)">
        </ng2-smart-table> -->
        <ng2-smart-table [source]="poData" [settings]="settings">
        </ng2-smart-table>
        <!-- <ng2-smart-table [source]="poData" [settings]="settings" (create)="open1(dialog)" (edit)="open2(dialog,$event)" (delete)="deleteProjectLead($event)">
        </ng2-smart-table> -->
        <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>