<nb-card>
    <nb-card-header>
      Purchase Order Table
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [source]="poData" [settings]="settings" (create)="open1(dialog)" (edit)="open2(dialog,$event)" (delete)="deletePurchaseOrder($event)" > 
      </ng2-smart-table>
      <!-- <ng2-smart-table></ng2-smart-table> -->
    </nb-card-body>
</nb-card>


<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="width: 1080px !important;">
      <nb-card-header>Purchase Order</nb-card-header>
      <nb-card-body>
          <!-- <form [ngSubmit]="save()"> -->
          <form [formGroup]="formAddEdit">
          <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Project Order</label>

            <div class="col-sm-4">
                <nb-select formControlName="project_order_id" placeholder="Select Project" style="padding: 0;" [ngClass]="{'is-invalid': isSubmitted && f.project_order_id.errors}" class="col-md-12">
                    <!-- <nb-option value="0" disabled>Select Role</nb-option> -->
                    <nb-option *ngFor="let order of poData" value={{order.project_order_id}} >{{order.project_lead_name}}</nb-option>
                </nb-select>
                <div *ngIf="isSubmitted && f.project_order_id.errors" class="text-danger">
                     <div *ngIf="f.project_order_id.errors.required">This field is required</div>
                </div>  
            </div>
            <label class="label col-sm-2 col-form-label">PO Number</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" nbInput shape="rectangle" formControlName="po_number" class="col-md-12" placeholder="Enter PO Number" [ngClass]="{'is-invalid': isSubmitted && f.po_number.errors}">
                <div *ngIf="isSubmitted && f.po_number.errors" class="text-danger">
                    <div *ngIf="f.po_number.errors.required">This field is required</div>
                </div>
            </div>
          </div>
          
          <div class="form-group row">
              <label class="label col-sm-2 col-form-label">Order Description</label>
              <div class="col-sm-4">
                <textarea rows="4" class="form-control" formControlName="purchase_order_description" class="col-md-12" nbInput fullWidth shape="round"  placeholder="Description" [ngClass]="{'is-invalid': isSubmitted && f.purchase_order_description.errors}"></textarea>
                <div *ngIf="isSubmitted && f.purchase_order_description.errors" class="text-danger">
                  <div *ngIf="f.purchase_order_description.errors.required">This field is required</div>
                </div>
              </div>
              <label class="label col-sm-2 col-form-label">Site</label>
                <div class="col-sm-4">
                    <nb-select formControlName="site_id" style="padding: 0;" placeholder="Select Site" [ngClass]="{'is-invalid': isSubmitted && f.site_id.errors}" class="col-md-12">
                        <!-- <nb-option value="0" disabled>Select Role</nb-option> -->
                        <nb-option *ngFor="let site of siteData" value={{site.site_id}}>{{site.site_name}}</nb-option>
                    </nb-select>
                    <div *ngIf="isSubmitted && f.site_id.errors" class="text-danger">
                         <div *ngIf="f.site_id.errors.required">This field is required</div>
                    </div>  
                </div>
          </div>

        <div class="form-group row">
            <label class="label col-sm-2 col-form-label">Vendor</label>
                <div class="col-sm-4">
                    <nb-select formControlName="supplier_id" style="padding: 0;" placeholder="Select Vendor" [ngClass]="{'is-invalid': isSubmitted && f.supplier_id.errors}" class="col-md-12">
                        <!-- <nb-option value="0" disabled>Select Role</nb-option> -->
                        <nb-option *ngFor="let supplier of supData" value={{supplier.supplier_id}}>{{supplier.supplier_name}}</nb-option>
                    </nb-select>
                    <div *ngIf="isSubmitted && f.supplier_id.errors" class="text-danger">
                         <div *ngIf="f.supplier_id.errors.required">This field is required</div>
                    </div>  
                </div>
            <label class="label col-sm-2 col-form-label">Purchase Order Status</label>
            <div class="col-sm-4">
                <nb-select placeholder="Select Purchase Order Status" style="padding: 0;" formControlName="purchase_order_status" class="col-md-12">
                    <nb-option value='Active'>Active</nb-option>
                    <nb-option value='Deactive'>Deactive</nb-option>
                    <!-- <nb-option *ngFor="let pcstatus of pcData" value={{pcstatus.product_category_status}}>{{pcstatus.product_category_status}}</nb-option> -->
                </nb-select>
            </div>
        </div>
        <div class="form-group row">
          <label class="label col-sm-2 col-form-label">Purchase Order Date</label>
            <div class="col-sm-4">
                <input type="date" nbInput class="form-control" formControlName="purchase_order_date">
            </div>
        </div>

        <div formArrayName="products" style="border: none;" class="form-control mt-2" *ngFor="let product of formAddEdit.get('products')['controls']; let i=index;">
            <div [formGroupName]="i" class="form-group row">
            <label class="label col-sm-1 col-form-label" style="padding: 15px 0px;">Products</label>
            <div class="col-sm-2">
              <nb-select formControlName="product_id" style="padding: 0;"  placeholder="Select Product" (selectedChange)="changeprod($event)" class="col-md-6">
                <nb-option *ngFor="let product of prodData" value={{product.product_id}}>{{product.product_name}}</nb-option>
              </nb-select>
            </div>
            <label style="padding: 15px 0px;" class="label col-sm-1 col-form-label">Specification</label>
            <div class="col-sm-2">
              <nb-select formControlName="specification_id" style="padding: 0;" placeholder="Select Specification" class="col-md-6">
                <nb-option *ngFor="let ps of psData" value={{ps.product_specification_id}}>{{ps.product_specification_name}}</nb-option>
              </nb-select>
            </div>
            <label style="padding: 15px 0px;" class="label col-sm-1 col-form-label">Quantity</label>
            <div class="col-sm-2">
              <input type="number" nbInput shape="rectangle" formControlName="quantity" placeholder="Enter Quantity" class="col-md-6">
            </div> 
            <label style="padding: 15px 0px;" class="label col-sm-1 col-form-label">Unit</label>
            <div class="col-sm-2">
              <nb-select formControlName="unit" style="padding: 0;" placeholder="Select Unit" class="col-md-6">
                <nb-option *ngFor="let unit of unitData" value={{unit.unit_id}}>{{unit.unit_name}}</nb-option>
              </nb-select>
            </div>
            </div>
        </div>

        <div class="col-sm-12 mt-4" style="padding:0px;">
          <button style="margin-right: 10px;" type="button" class="btn btn-primary" nbButton status="primary" (click)="addProduct()">Add</button>
          <button type="button" class="btn btn-primary" nbButton status="primary" (click)="removeProducts()">Remove</button>
        </div>

    </form>
    </nb-card-body>
    <nb-card-footer>
        <button type="submit" style="margin-right: 20px;" nbButton status="primary" (click)="onSubmit(ref)">Submit</button>
        <button nbButton (click)="closeHandle(ref)">Close</button>
    </nb-card-footer>
    </nb-card>
</ng-template>